<br/>
<br/>
<h4>Sign up for Updates:</h4>
<%= simple_form_for('User') do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.input :phone_number %>
	<br/>
	<%=f.button :submit, "Sign up"%>
<% end %>