<!DOCTYPE html>
<html>
<head>
  <title>Colonnade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="col-sm-1">
				
			</div>
			<a class="brand" href="/"><%= image_tag "main_image.jpg",:size => "300x150"%><span style="width:auto;display:inline-block;font-size:78px;color:white;">Colonnade</span></a>
		</div>
		<div class="subnav">
			<div class="container">
				<ul class="nav nav-pills">
					<li><%= link_to('About', '/' ) %></li>
					<li><%= link_to('Amenities', amenities_path ) %></li>
					<li><%= link_to('Contacts', contact_us_path ) %></li>
					<li><%= link_to('Get Involved', get_involved_path ) %></li>
					<li><%= link_to('Rules',rules_path) %></li>
					<li><%= link_to('The Board of Directors',management_info_path) %></li>
					<li><%= link_to('Upcoming Events',events_path) %></li>
				</ul>
				
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<%= render 'homes/form' %>
		</div>
		<div class="col-md-9">
			<%= yield %>	
		</div>
	</div>
</div>
<div class="footer">
	Copyright 2014 © Rock8y Arts<br>
	Loaded <%= Time.now.asctime %>
</div>
</body>
</html>
