<!DOCTYPE html>
<html>
<head>
  <title>Colonnade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<p class="navbar-text pull-right">
			<% if user_signed_in? %>
			  Logged in as <strong><%= current_user.email %></strong>.
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</p>
		<div class="container-fluid">
			<div class="col-sm-1">
				
			</div>
			<a class="brand" href="/"><span style="width:auto;display:inline-block;font-size:78px;">Colonnade</span></a>
		</div>
		<div class="subnav">
			<div class="container">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<%#= render 'homes/form' %>
		</div>
		<div class="col-md-9">
			<%= yield %>	
		</div>
	</div>
</div>
<div class="footer">
	Copyright 2014 © Rock8y Arts<br>
	Loaded <%= Time.now.asctime %>
</div>
</body>
</html>
